#Admmensajecuerpo {
    background-color: #91cdff;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    height: auto;
    gap: 20px;
    padding: 20px;
}

#Admmensajecuerpo div {
    background-color: #309ffa;
    border-radius: 10px;
    width: 20%;
    height: auto;
    padding: 10px;
}

#Admmensajecuerpo div p {
    color: #000000;
}