#cuerpoAtencionC{
    background-color: #91cdff;
    display: flex;

    height: auto;
    color: aliceblue;
}
#cuerpoAtencionC div{
    flex: 1;
}
#cuerpoAtencionC section{
    background-color: #309ffa;
    margin: 1%;
    border-radius: 10px;
    padding: 2%;
    
}
#cuerpoAtencionC section h1{
    color: rgb(147, 243, 243);
    text-align: center;
    
    
}
#cuerpoAtencionC section p{
    color: rgb(255, 255, 255);
    text-align: center;
    
    
}