#pie_pagina {
    background-color: #309ffa;
<<<<<<< HEAD
    width: 100%;
    height: auto;
    

    

}
#parrafo {
    text-align: center;
    color: aliceblue;
   
    
    

=======
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
>>>>>>> ysus
    
}